<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Fediverse Explorer by @stefan@stefanbohacek.online</title>
    <meta property="og:title" content="Fediverse Explorer by @stefan@stefanbohacek.online" />
    <meta name="twitter:title" content="Fediverse Explorer by @stefan@stefanbohacek.online" />
    <meta name="description" content="Browse most recent public posts across the fediverse." />
    <meta property="og:description" content="Browse most recent public posts across the fediverse." />
    <meta name="twitter:description" content="Browse most recent public posts across the fediverse." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://stefanbohacek.com" />
    <meta property="og:image" content="/images/fediverse-explorer.png" /> 
    <meta property="og:image:alt" content="A screenshot of the Fediverse Explorer app." /> 
    <meta property="twitter:image:src" content="/images/fediverse-explorer.png" /> 
    <meta property="twitter:image:alt" content="A screenshot of the Fediverse Explorer app." /> 
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@stefanbohacek" />
    <meta name="twitter:domain" content="https://stefanbohacek.com/" />

    <!-- TODO: Favicons -->
    <!-- <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
        <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
        <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
        <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
        <link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
        <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
        <meta name="theme-color" content="#712cf9"> -->
        <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100 overflow-y-scroll">
    <main class="flex-shrink-0">
        <div class="container">
          {{{body}}}
        </div>
    </main>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Created by <a target="_blank" href="https://stefanbohacek.online/@stefan">Stefan Bohacek</a>.</span>
        </div>
    </footer>
    <script type="module" src="js/main.js" async></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
</body>
</html>
