<h1 class="mt-5">
    Fediverse Explorer
    <sup><span class="badge rounded-pill text-bg-info">Beta</span></sup>
</h1>
<p class="lead mb-0">
    Browse most recent public posts across the fediverse by hashtag.
</p>
<p class="mb-5">
    <a target="_blank" href="https://stefanbohacek.com/project/fediverse-explorer/">Learn more about the project</a> |
    <a target="_blank" href="https://github.com/stefanbohacek/fediverse-explorer/">View source</a>
</p>
<form id="tag-browser">
    <div class="input-group mb-4">
        <span class="input-group-text">#</span>
        <input id="tag" type="text" class="form-control" name="tag" placeholder="tag" value="fediverse">
        <button class="btn btn-outline-secondary" type="submit" id="browse">Browse</button>
    </div>
    <details>
        <summary>More options</summary>
        <div class="form-floating">
            <textarea id="instances" class="form-control" style="min-height: 8rem;" rows="14" placeholder="mastodon.social,pawoo.net,mstdn.jp,mastodon.cloud,mstdn.social,mas.to,mastodon.art,techhub.social,fosstodon.org,vis.social">mastodon.social
pawoo.net
mstdn.jp
mastodon.cloud
mstdn.social
mas.to
mastodon.art
techhub.social
fosstodon.org
vis.social</textarea>
            <label for="floatingTextarea">Instances</label>
            <div id="instancesHelp" class="form-text">Only Mastodon instances can be added currently, but posts from all of the known Fediverse will appear.</div>
            <button id="reset-instance-list" class="btn btn-link">Reset</button>

        </div>
        <div class="input-group mb-3">
            <div class="form-floating">
                <input id="user-instance" type="text" class="form-control" name="user-instance" placeholder="mastodon.social" value="">
                <label for="user-instance">Your instance</label>
            </div>
        </div>
    </details>
</form>
<div id="placeholders" class="d-none container mt-5 mb-4 g-0">
    <div class="row">
        <div class="col-sm-6 col-lg-4 mt-3 mb-3">
            <div class="card shadow-sm" aria-hidden="true">
                <div class="card-header">
                    <h5 class="card-title"><span class="placeholder col-6"></span></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="placeholder col-7"></span></h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-7"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <span class="placeholder col-6"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-3 mb-3">
            <div class="card shadow-sm" aria-hidden="true">
                <div class="card-header">
                    <h5 class="card-title"><span class="placeholder col-6"></span></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="placeholder col-7"></span></h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-7"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <span class="placeholder col-6"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-3 mb-3">
            <div class="card shadow-sm" aria-hidden="true">
                <div class="card-header">
                    <h5 class="card-title"><span class="placeholder col-6"></span></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="placeholder col-7"></span></h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-7"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <span class="placeholder col-6"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="results" class="container mt-5 mb-4 g-0"></div>